:root{
    --roxo:#7158e2;
    --cinzadark:#4b4b4b;
    --vermelho:#cf1313;
    --verde:#12c44d;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    background-color: #0e0d0d;
    color: white;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
/*===========header===========*/
header {
    background-color: #080808;
    padding: 10px 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container h2{
    color:#ff1010;
    font-size: 40px;
    font-family: "Arial Black";
}

header .container nav .menu a{
    display: inline-block;
    font-size: 15px;
    font-family: sans-serif;
    color: #c8c8c8;
    margin-right: 15px;
}
/*===========BANNER==========*/
.banner{
    width:100%;
    padding: 15px 0;
    height: auto;
    min-height:585px;
    background: linear-gradient(rgb(0,0,0,.7),rgb(0,0,0,.8)),
    url("../img/background1.jpg");
    background-position:center right;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .container .banner-wrap{
    display: flex;
    align-items: center;
}
.banner .container .banner-wrap .img-serie{
    max-width: 350px;
    padding: 5px;
    background-color: #4b4b4b75;
}
.banner-wrap .img-serie img {
    width: 100%;
    height: 100%;
}
.banner-texto-wrap{
    margin-left: 20px;
    width: 70%;
    max-width: 600px;
}
.banner-texto-wrap h2{
    margin-bottom: 20px;
    color: #17e38a;
    font-size: 45px;
    font-family: "Trebuchet Ms";
}
.banner-texto-wrap .descricao .tipos{
    display: flex;
    align-items: center;
}
.banner-texto-wrap .descricao .tipos span{
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    font-style: italic;
    color: #fff8;
}

.banner-texto-wrap .descricao .tipos span:first-child{
    width:60px;
    height: 60px;
    border: 4px solid #d60992ad;
    border-radius: 60px;
    margin-right: 15px;
    line-height: 55px;
    text-align: center;
    color: #e915a2;
}
.banner-texto-wrap .descricao h4{
    font-size:18px ;
    color: orange;
    padding: 20px 0;
}
.banner-texto-wrap .descricao p{
    font-size: 17px;
    line-height:1.7rem;
}
.banner-texto-wrap .botoes button{
    padding: 8px 15px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    background:rgb(163, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: 0;
}
.banner-texto-wrap .botoes button i{
    margin-right: 5px;
}
.banner-texto-wrap .botoes button:hover{
    background: rgb(209, 11, 11);
    transition: 0.8s;
}
/*===========FILMES==========*/
.filmes .container{
    padding-top: 30px;
    padding-bottom: 30px;
}

/*===========RESPONSVO==========*/

@media screen and (max-width:920px){
    
    header .container nav{
        width: 30px;
        height: 30px;
        background-image: url("../img/menu.png");
        background-position: 100% 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header .container nav:hover > .menu{
        display: block; 
    }
    header .container nav .menu{
        display:none;
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        background-color: rgb(248, 248, 248);
        text-align: center;
    }
    header .container nav .menu a{
        padding: 15px 0;
        font-size: 1.1rem;
        color: black;
        display: block;
    }

    
    header .container .nav:last-child a{
        display:none;
        font-size: 15px;
        font-family: sans-serif;
        color: #c8c8c8;
        margin-right: 15px;
    }
}

@media screen and (max-width:785px) {


    /*===========HEADER==========*/
    

    /*===========BANNER==========*/
    .banner{
        min-height: 520px;
    }
    .banner .container .banner-wrap{
        display: block;
        align-items: inherit;
    }
    .banner .container .banner-wrap .img-serie{
        display:none;
    }
    .banner-texto-wrap{
        width: 98%;
        max-width: 600px;
        margin: 80px auto;
    }
    .banner-texto-wrap .botoes{
        max-width:350px;
        margin: 10px auto;
    }
}